name: Tweet on a CRON Schedule

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:
jobs:
  tweet_on_schedule:
    name: Tweet
    runs-on: ubuntu-latest
    steps:
      - name: cURL request
        uses: fjogeleit/http-request-action@master
        with:
          url: "https://www.dca-cc.com/api/social/twitter"
          method: "POST"
          data: '{ "consumer_key": "${{secrets.TWITTER_CONSUMER_KEY}}", "consumer_secret": "${{secrets.TWITTER_CONSUMER_SECRET}}", "access_token_key": "${{secrets.TWITTER_ACCESS_TOKEN_KEY}}", "access_token_secret": "${{secrets.TWITTER_ACCESS_TOKEN_SECRET}}" }'
